<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Out of Bounds</title>
        <link rel="stylesheet" href={{url_for("static",filename="style.css")}}>
        <link rel="stylesheet" href={{url_for("static",filename="animations.css")}}>
    </head>
<body>
    <div class="container__main">
        <h1> <span class="text-animation__out-of-bounds">Out of Bounds!</span> try again</h1> 
        <p>chose a number between 1 and 10 <span class="example">***(1,2,3,4,5,6,7,8,9 or 10)</span></p>
        <img src={{url_for('static',filename="/images/lecry.webp")}} />


    </div>
    
</body>
</html>