<!DOCTYPE html>
<html lang="en">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>You Got it!</title>
        <link rel="stylesheet" href={{url_for("static",filename="style.css")}}>
    </head>
<body >
    <div class="container__main">
        <h1> <span style="color: orange;">You got it!!</span></h1> <br/>
        <img src={{url_for('static',filename="/images/lebron_celebration.webp")}} />

        
        
    </div>
</body>
</html>