<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Too low</title>
        <link rel="stylesheet" href={{url_for("static",filename="style.css")}}>
    </head>
<body>
    <div class="container__main">
        <h1> <span style="color: blue;" >Too low</span>, try again</h1> <br/>
        <img src={{url_for('static',filename='/images/lil_nate_big_block.gif')}} />


    </div>
    
</body>
</html>