:root {
    --color-black: #000000;
    --text-color: #f0f8ff;
    --text-invalid: #aaa;
}
html{
    overflow-x: hidden;
}

body{
    width: 100vw;
    text-align: center;
    color: var(--text-color) ;
    background-color: var(--color-black);
    
}
h1{
    font-size: 2rem;
    font-weight: 900;
}

.container__main{
    padding-top: 2rem;
}
.container__main p{
font-size: 1.6rem;
}

.example{
    font-size: 1.6rem;
    color: #aaa;
    font-style: italic;
}

strike{
    color: #aaa;
    font-size: 1.2rem;
    font-style: italic;
    text-decoration: line-through;
}

img{
    border: 3px solid #ccc;
}
